body{
    font-family: 'Roboto', sans-serif;
    background-image: url(wallpaper.jpg);
    background-color: white;
}

.clock{
    font-size: 6rem;
    filter: invert(1);
    
}

.date{
    font-size: 2rem;
    filter: invert(1);
}


#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
    
    
    
}